html{
    cursor: url("../Assets/cursor.svg"), auto;
    background-color: #000;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #0F0F0F;
    color: #fff;
}

/* selections */
::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: #fff;
    background: #007a5e;
  }









/* custom cursor */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 46px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a; 
  }

  .hero{
    background-image: url('./Assets/Hero-bg1.png') ;
  }




nav{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.nav-text{
    width: 65rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    width: 100%;
    height: 29.68rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    
}
/* .buttons{
    display: hidden !important;
    column-gap: 2rem;
}
#one{
    width: auto;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
  }
  #one:hover{
    background-color: #007546;
  }

#two{
    width: 192px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #008f55;
    border-radius: 0.75rem;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
  } */

.main-text{
    width: 65rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: left;
    align-items: left;
    text-align: left;
}
h1{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 800;
}
h2{
    font-size: 4rem;
    font-weight: 600;
}
h3{
    font-size: 2.5rem;
    font-weight: 500;
}
span{
    font-size: 2rem;
    font-weight: 500;
    color: #8D8D8D;
}



.projects{
    width: 65rem;
    margin: auto;
    padding: 8rem 0rem 0rem 0rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.projects-text{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project-1{
    width: 65rem;
    height: 40rem;
    background-color: #1C1C1C;
    display: flex;
    align-items: last center;
    justify-content: center;
    transition-duration: 2s;
}
.project-1 img{
    width: auto;
    height: auto;
    transition: transform 2s;
}
.project-1:hover > img{
    transform: scale(2);
    transform: rotateX(-24deg);
}


.project-2{
    width: 65rem;
    height: 40rem;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-2 img{
    width: auto;
    height: auto;
    transition: transform 2s;
}
.project-2:hover >img {
    transform: scale(1.2);
    transform: rotate(8deg);
}

.project-3{
    width: 65rem;
    height: 40rem;
    background-color: #1C1C1C;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    overflow: hidden;
}


.project-3 img{
    width: auto;
    height: auto;
    transition: transform 2s;
}
.project-3:hover > img{
    transform: scale(1.2);
    /* transform: rotate(-24deg); */
}

.aboutme{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
}
.bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65rem;
    height: 40rem;
}

.bottom{
    width: 65rem;
    margin: auto;
}
.internships{
    width: 65rem;
    margin: auto;
    height: 51.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}
.left{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.left p{
    font-size: 1.5rem;
    font-weight: 500;
}
.right p{
    font-size: 1.5rem;
    font-weight: 500;
}
.internship-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65rem;
    height: 8.25rem;
    border-bottom: 1px solid #fff;
}
.internship-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65rem;
    height: 8.25rem;
    border-bottom: 1px solid #fff;
}
.internship-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65rem;
    height: 8.25rem;
    border-bottom: 1px solid #fff;
}

.connectwithme{
    width: 65rem;
    height: 7.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
a{
    font-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;

}


/* scroll button */

#myBtn {
    width: 5rem;
    height: 5rem;
    display: hidden; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5rem; /* Place the button at the bottom of the page */
    right: 15rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #3d3d3d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1.5rem; /* Some padding */
    border-radius: 80px; /* Rounded corners */
    font-size: 1.5rem; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }





  .socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    }
    .socials a{
        font-size: 1.5rem;
        margin-top: 8rem;
        margin-bottom: 10rem;
        text-decoration: none;
        background: -webkit-linear-gradient(#e3e3e3, #9f9f9f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #chat{
        font-weight: 700;
        background: -webkit-linear-gradient(#007a5e, #00BF93);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    span{
        color: white;
    }
    .socials a:hover{
        /* font-size: 1.5rem; */
        /* margin-top: auto;
        margin-bottom: auto; */
        transition-duration: s;
        text-decoration: underline;
        background: -webkit-linear-gradient(#9f9f9f, #e3e3e3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #bottom{
        font-size: 2.5rem;
        color: #696969;
    }





/* media queries */

@media only screen and (max-width: 400px) {
    body {
      
    }


    /* navbar */
    nav{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }
    .nav-text{
        width: 22.18rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    /* main */


    main{
        width: 100%;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }
    
    .main-text{
        width: 22rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    h1{
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 600;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 500;
    }
    span{
        font-size: 1.5rem;
        font-weight: 500;
        color: #8D8D8D;
    }


    /* buttons */

/* 
    .buttons{
        display: flex;
        column-gap: 1rem;
    }
    #one{
        width: 9.25rem;
        height: 3rem;
        color: #fff;
        background-color: #3d3d3d;
        border: none;
        border-radius: 0.75rem;
        padding: 1rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
            transition: all 1s;
            background: #008F55;
            box-shadow: 0 0 5px #008F55, 0 0 25px #008F55, 0 0 50px #008F55, 0 0 100px #fff;
            border:0;
          }
      }
    
    #two{
        width: max-content;
        height: 3rem;
        color: #fff;
        background-color: transparent;
        border: 2px solid #3d3d3d;
        border-radius: 0.75rem;
        padding: 1rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
      } */




      /* projects */
      
    .projects{
        width: 100%;
        margin: auto;
        padding: 2rem 0rem 0rem 0rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-text{
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .project-1 img{
        width: 50%;
        height: 50%;
    }
    .project-2 img{
        width: 50%;
        height: 50%;
    }
    .project-3 img{
        width: 50%;
        height: 50%;
    }
    .project-1{
        width: 22rem;
        height: 19rem;
        background-color: #1C1C1C;
        display: flex;
        align-items: last center;
        justify-content: center;
    }

    .project-2{
        width: 22rem;
        height: 19rem;
        background-color: #1C1C1C;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-3{
        width: 22rem;
        height: 19rem;
        background-color: #1C1C1C;
        display: flex;
        align-items: last baseline;
        justify-content: center;
    }

    /* about me */

        
    .aboutme{
        width: 100%;
        height: 43rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom-text{
        width: 22rem;
        height: auto;
    }

    .bottom{
        width: 22rem;
        margin: auto;
    }
    .internships{
        width: 22rem;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .left{
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }
    .left p{
        font-size: 1rem;
        font-weight: 500;
    }
    .right p{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .internship-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 22rem;
        height: 6rem;
        border-bottom: 1px solid #fff;
    }
    .internship-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 22rem;
        height: 6rem;
        border-bottom: 1px solid #fff;
    }
    .internship-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 22rem;
        height: 6rem;
        border-bottom: 1px solid #fff;
    }

    .connectwithme{
        width: 22rem;
        height: 6rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        font-style: none;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;

    }




















    }